.list-group-item.active {
    background-color: #007bff!important;
}

#sidebar-wrapper {
  min-height: 0;
  display: inherit;
  margin-left: -30rem;
}

#category-wrapper {
  min-height: 100vh;
  z-index: 99;
}

#memolist-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  #wrapper.sub.toggled #sidebar-wrapper {
    margin-left: -30rem;
  }
}

#wrapper.sub #memolist-wrapper {
  margin-left: 0rem;
}

.sidebar-heading {
  position: relative;
}
.sidebar-heading .ctgrAdd {
  right: 20px;
  position: absolute;
}

#sidebar-wrapper .list-group .settingCtgr {
  position: absolute;
  right: 20px;
  top: 13px;
  z-index: 9;
  cursor: pointer;
}

.modal .modal-body .update {
	display: none;
}
.modal.update .modal-body .update {
	display: inline-block;
}
.modal.update .modal-body .insert {
	display: none;	
}
