/* index add css */
.list-group-item.active {
    background-color: #007bff!important;
}

#sidebar-wrapper {
  min-height: 0;
  display: inherit;
  margin-left: -30rem;
}

#category-wrapper {
  min-height: 100vh;
  z-index: 99;
}

#memolist-wrapper {
  min-height: 100vh;
	margin-left: 0rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -30rem;
  }
}

.sidebar-heading {
  position: relative;
}
.sidebar-heading .ctgrAdd {
  right: 20px;
  position: absolute;
}

#sidebar-wrapper .list-group .settingCtgr {
  position: absolute;
  right: 20px;
  top: 13px;
  z-index: 9;
  cursor: pointer;
  display: none;
}

#sidebar-wrapper .list-group .item:hover .settingCtgr {
  display: inline-block;
}

/* index category */
a.bg-light.selected {
    background-color: #dae0e5!important;
}

/* index modal */
.modal .modal-body .update {
	display: none;
}
.modal.update .modal-body .update {
	display: inline-block;
}
.modal.update .modal-body .insert {
	display: none;	
}

/* index memo */
.memo-heading {
    border: 0;
    padding: 0.830rem 1.25rem;
}
.memo-heading .addMemo {
	position: absolute;
    right: 13px;
    top: 16px;
}
#memolist-wrapper .list-group-item {
	cursor: pointer;
}
